* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin-bottom: 2rem;
	max-width: 400px;
	text-align: center;
}

.container {
	background-color: #f9f9f9;
	padding: 40px;
	border-radius: 10px;
}

h1 {
	color: #130f40;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: -0.5px;
	font-weight: 700;
	padding-bottom: 10px;
}

.upload-container {
	background-color: rgb(239, 239, 239);
	border-radius: 6px;
	padding: 10px;
}

.border-container {
	border: 5px dashed rgba(198, 198, 198, 0.65);
	border-radius: 6px;
}

.border-container p {
	color: #130f40;
	font-weight: 600;
	font-size: 1.1em;
	letter-spacing: -1px;
	margin-top: 30px;
	margin-bottom: 0;
	opacity: 0.65;
}

input:focus {
	outline: none;
}

input#file-upload-button {
	display: none;
}

#file-browser {
	text-decoration: none;
	color: rgb(22, 42, 255);
	border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
	color: rgb(0, 0, 255);
	border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
	color: #95afc0;
	opacity: 0.55;
}
